* {
  box-sizing: border-box;
}

/* styling for the entire body */
body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* min-height: 100vh;
  justify-content: flex-start; */
}

/* styling for the header */
header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-radius: 15px 50px;
}

/* styling for the nav bar */
nav {
  display: flex;
  background-color: #d8a47f;
}

/* styling for the elements within the nav bar */
nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  /* display: flex;
  flex-wrap: wrap; */
  flex-grow: 1;
  display: flex;
}

.content {
  flex-grow: 1;
  border: 2px solid black;
}

/* styling for the contact info aside */
aside {
  
  background-color: #b9c6ae;
  padding: 80px;
  text-align: left;
}

/* styling for the footer */
footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}

/* styling for the project segements */
.segments {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 15px 50px;
}

/* styling for the individual cards that hold the images and title of projects */
.card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  flex: 0 0 300px;
  border-radius: 15px 50px;
  box-shadow: 1px 2px 1px 2px;
}

/* styling for card headers */
.card header {
  padding: 20px;
}

/* styling for the image within the cards, place holders now */
.card img {
  width: 95%;
  height: 95%;
}

/* styling for the headshot */
img {
  width: 10%;
  height: 10%;
}

/* styling for the about me ID class */
#about-me {
  width: 75%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  margin: auto;  
}

/* styling for the resume ID class */
#resume {
  width: 75%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  margin: auto;  
}

/* enlarge the size of the apps when hovering over individual projects */
.card img:hover {
  width: 100%;
  height: 100%;
  font-size: larger;
}

/* make sure the screen reads well with a phone size screen */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

