* {
        box-sizing: border-box;
        font-family: 'Sawarabi Gothic', sans-serif;
}

body {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        min-height: 100px;
}

body header {
        border: 2px solid black;
        background-color: bisque;
        
}

body header img {
        display: inline;
        width: 5%;
        height: 50%;
        box-shadow: 5px 5px 5px #aaaaaa;
}

body header nav {
        display: flex;
        background-color: #d8a47f;
        justify-content: flex-end;
}

body header nav li {
        display: inline;
}

body header nav a {
        margin: 2px;
        color: yellow;
}
main {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
}

.apps {
        width: 75%;
        display: inline-block;
        margin-left: 20px;
}

section {
        display: block;
        display: flex; 
        justify-content: center;
        border: 2px solid black;
        width: 90%;
} 

.card {
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        padding: 10px;
        flex: 0 0 300px;
        box-shadow: 10px 10px 5px #aaaaaa;
        margin: 20px;
}

.portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
      }

.work {
        /* border-style: solid;
        border-width: 1px;
        border-radius: 20px; */
        padding-top: 10px;
        /* flex: 0 0 300px; */
        /* box-shadow: 10px 10px 5px #aaaaaa; */
        /* margin: 20px;  */
        display: flex;
        justify-content:center;
}

figure {
        background-color: #fff;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        border-radius: 15px 50px;
}

h3 {
        text-align: center;
        margin-right: 20px;
        text-decoration: none;
}

.pics {
        margin-top: 2px;
        width: 50%;
        height: 50%;
        justify-content: center;
}

.links {
        margin-right: 20px;
        padding: 30px;
        clear: both;
        float: right;
        width: 20%;
        height: 940px;
        background-color: #0072bb;
}

.contact li {
        margin-top: 15px;
}

.contact li a {
        text-decoration: underline;        
}

section h2 {
        display: flex;
        justify-content: center;
}

section p {
        margin: 5px;
        display: flex;
}

/* enlarge the size of the apps when hovering over individual projects */
figure:hover {
        width: 270px;
        height: 370px;
        font-size: larger;
}

@media screen and (max-width: 1750px) {
        .work,
        figure {
                width: 50%;
        }
}

@media screen and (max-width: 768px) {
        header,
        main,
        .work {
                flex-direction: column;
        }
      
        section {
                padding-right: 0;
        }
      
        .links,
        .contact {
                width: 100%;
                text-align: center;
        }
      }